html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--praimery-bg-color);
  color: var(--praimery-text-color);
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
