// :root {
//   --primary-text-color: #757575;
//   --title-text-color: #212121;
//   --accent-color: #2196f3;
//   --white-color: #fff;
//   --gray-color: #afb1b8;

//   --primary-bg-color: #f5f5f5;
//   --secondary-bg-color: #f5f4fa;

//   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
