<section class="customers section">
  <div class="container">
    <h2 class="title customers__title">What our Customers Say</h2>
    <p class="subtitle customers__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="cards">
      <li class="cards__item">
        <ul class="stars">
          <li class="stars__item">
            <svg class="stars__icon">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="stars__icon">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="stars__icon">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="stars__icon">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="stars__icon">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
