<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo"
      ><img src="./images/logo.svg" alt="site logo" width="66" height="52"
    /></a>
    <div class="header__right-part">
      <nav class="header__mob-menu is-hidden">
        <button class="header__button-close">
          <svg width="24" height="24">
            <use href="./images/sprite.svg#icon-icon-close"></use>
          </svg>
        </button>
        <ul class="header__mob-nav">
          <li class="header__mob-item header__mob-item--accent">
            <a class="header__mob-link" href="./index.html">Home</a>
          </li>
          <li class="header__mob-item">
            <a class="header__mob-link" href="#about">About</a>
          </li>
          <li class="header__mob-item">
            <a class="header__mob-link" href="#service">Service</a>
          </li>
          <li class="header__mob-item">
            <a class="header__mob-link" href="#menu">Menu</a>
          </li>
          <li class="header__mob-item">
            <a class="header__mob-link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <nav class="navigation header__navigation">
        <ul class="navigation__list">
          <li class="navigation__item navigation__item--accent">
            <a
              href="./index.html"
              class="navigation__link navigation__link--accent"
              >Home</a
            >
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#about">About</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#service">Service</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#menu">Menu</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header__button-order button">
        Order Now
      </button>
    </div>
    <button type="button" class="header__button-open">
      <svg class="header__icon-menu" width="28" height="28">
        <use href="./images/sprite.svg#icon-menu-icon"></use>
      </svg>
    </button>
  </div>
</header>
