<header class="header">
  <div class="container">
    <a href="./index.html" class="logo"
      ><img src="./images/logo.svg" alt="site logo" width="66" height="52"
    /></a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="./index.html" class="">Home</a>
        </li>
        <li class="navigation__item"><a class="" href="#">About</a></li>
        <li class="navigation__item"><a class="" href="#">Service</a></li>
        <li class="navigation__item"><a class="" href="#">Menu</a></li>
        <li class="navigation__item"><a class="" href="#">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="header__button btn">Order Now</button>
    <button type="button" class="header__menu-open btn">
      <svg class="header__icon-menu" width="28" height="28">
        <use href="./images/menu-icon.svg"></use>
      </svg>
    </button>
  </div>
</header>
