<section class="hero">
  <div class="container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <div class="hero__food">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <picture>
        <source
          srcset="
            ./images/desktop-hero-1.jpg    1x,
            ./images/desktop-hero-1-2x.jpg 2x
          "
          media="(min-width 1280px)"
        />

        <source
          srcset="
            ./images/tablet-hero-1.jpg    1x,
            ./images/tablet-hero-1-2x.jpg 2x
          "
          media="(min-width 768px)"
        />
        <img
          class="hero__img"
          src="./images/tablet-hero-1.jpg"
          alt="plate of food"
          width="528"
          height="528"
        />
      </picture>
    </div>

    <button type="button" class="hero__button">Order Now</button>
  </div>
</section>
