<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button data-modal-close class="modal__close-btn" type="button">
      <svg class="modal__close-icon">
        <use href="./images/sprite.svg#icon-close-icon"></use>
      </svg>
    </button>
    <section class="modal__form">
      <h1 class="modal__title">Order Form</h1>
      <form class="form-modal" autocomplete="off">
        <div role="group">
          <div class="form-modal__field">
            <label for="name" class="form-modal__label">Name</label>
            <input
              type="text"
              class="form-modal__input"
              name="name"
              id="name"
              minlength="3"
              required
              placeholder="Your name"
            />
            <p class="form-modal__error">
              The name must be between 3 and 25 characters
            </p>
          </div>
          <div class="form-modal__field">
            <label for="phone" class="form-modal__label">Phone number</label>
            <input
              type="tel"
              class="form-modal__input"
              name="phone"
              id="phone"
              required
              minlength="11"
              placeholder="+38(0_ _) _ _ _   _ _   _ _"
            />

            <p class="form-modal__error">
              This phone must be in the format 099 000 00 00
            </p>
          </div>
          <div class="form-modal__field">
            <label for="emeil" class="form-modal__label">E-mail</label>
            <input
              type="email"
              class="form-modal__input"
              name="emeil"
              required
              id="emeil"
              placeholder="example@gmail.com"
            />
            <p class="form-modal__error">Please enter a valid email address</p>
          </div>
        </div>
        <button type="submit" class="button-white form-modal__btn">Send</button>
      </form>
    </section>
  </div>
</div>
