<section class="section background offerings-section">
  <div class="container offerings">
    <div class="row-positioner">
      <div class="offerings__image">
        <div class="offerings__image--inside">
          <picture>
            <source
              srcset="
                ./images/offerings/apple-desktop1x.png 1x,
                ./images/offerings/apple-desktop1x.png 2x
              "
              media="(min-width:1280px)"
              width="396"
              height="502"
            />
            <source
              srcset="
                ./images/offerings/apple-tablet-big1x.png 1x,
                ./images/offerings/apple-tablet-big2x.png 2x
              "
              media="(min-width:768px)"
              width="257"
              height="352"
            />
            <source
              srcset="
                ./images/offerings/apple-mobile1x.png 1x,
                ./images/offerings/apple-mobile1x.png 2x
              "
              media="(max-width:480px)"
            />
            <img
              class="offerings__image--item"
              src="./images/offerings/apple-mobile1x.png"
              alt="Яблоко"
              width="201"
              height="255"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./images/offerings/apple-shadow-desktop1x.png 1x,
                ./images/offerings/apple-shadow-desktop2x.png 2x
              "
              media="(min-width:1280px)"
              width="252"
              height="87"
            />
            <source
              srcset="
                ./images/offerings/apple-shadow-fablet1x.png 1x,
                ./images/offerings/apple-shadow-fablet1x.png 2x
              "
              media="(min-width:768px)"
              width="163"
              height="58"
            />
            <source
              srcset="
                ./images/offerings/apple-shadow-mobile1x.png 1x,
                ./images/offerings/apple-shadow-mobile2x.png 2x
              "
              media="(max-width:480px)"
            />
            <img
              class="offerings__image--shadow"
              src="./images/offerings/apple-shadow-mobile1x.png"
              alt="Яблоко"
              width="128"
              height="44"
            />
          </picture>
        </div>
      </div>
      <div class="offerings__image--transparent">
        <div>
          <picture>
            <source
              srcset="
                ./images/offerings/apple-tablet-medium1x.png 1x,
                ./images/offerings/apple-tablet-medium2x.png 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="offerings__image--half-transparent"
              src="./images/offerings/apple-tablet-medium1x.png"
              alt="Яблоко"
              width="166"
              height="210"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/offerings/apple-tablet-small1x.png 1x,
                ./images/offerings/apple-tablet-small2x.png 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="offerings__image--allmost-transparent"
              src="./images/offerings/apple-tablet-small1x.png"
              alt="Яблоко"
              width="108"
              height="136"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="offerings__description-part">
      <h2 class="offerings__title title">What’s Special About Our Offerings</h2>
      <p class="offerings__description subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__list list">
        <li class="offerings__item">
          <div class="wrapper--circle">
            <svg class="offerings__icon">
              <use href="../src/images/sprite.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="offerings__title--small">Fasest Delivery</h3>
          <p class="offerings-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <div class="wrapper--circle">
            <svg class="offerings__icon">
              <use href="../src/images/sprite.svg#icon-touch"></use>
            </svg>
          </div>
          <h3 class="offerings__title--small">Easy to order</h3>
          <p class="offerings-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="offerings__action-part">
        <button class="offerings__button button" type="button">
          Order Now
        </button>
        <a class="offerings__link" href="#"
          >Read More
          <svg class="offerings__icon-arrow">
            <use href="../src/images/sprite.svg#icon-reed-more-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
