<section class="section">
  <div class="container offerings"></div>
    
    <h2 class="offerings__title">What’s Special About Our Offerings</h2>
    <picture>
      <source
        srcset="#"
        media="(min-width:1200px)"
      />
      <source
        srcset="#"
        media="(min-width:768px)"
      />
      <source
        srcset="#"
        media="(max-width:767px)"
      />
      <img
        class="offerings__img"
        src="#"
        alt="Яблоко"
      />
    </picture>
    <p class="offeringd__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    <ul class="offerings__list list">
      <li class="offerings__item">
        <use>
          <svg></svg>
        </use>
        <h3 class="offerings__title--small">Fasest Delivery</h3>
        <p class="offerings-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </li>
      <li class="offerings__item">
        <use>
          <svg></svg>
        </use>
        <h3 class="offerings__title--small">Fasest Delivery</h3>
        <p class="offerings-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </li>
    </ul>
    <button type="button" class="btn">Order Now</button>
  </div>
</section>
