<section class="subscribe">
  <div class="container">
    <h2 class="subscribe__title">Subscribe to get special offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form action="#">
      <input
        type="email"
        name="email"
        id="subscribe"
        placeholder="Enter your email"
        class="subscribe__input"
      />
      <button type="submit" class="subscribe__button btn">Subscribe</button>
    </form>
  </div>
</section>
