.button {
  padding: 6px 18px;

  cursor: pointer;
  width: 98px;
  height: 32px;
  background: --green;
  border-radius: 30px;
  border: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: var(--praimery-text-color);

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background: var(--accent-green);
  }
}
