.form-modal {
}

.form-modal__field {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 32px;
  }
}

.form-modal__label {
  margin-bottom: 2px;
  margin-left: 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--praimery-text-color);
}

.form-modal__input {
  cursor: pointer;
  margin: 0;
  padding: 14px 0 14px 12px;
  font: inherit;
  background: #ffffff;
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  height: 48px;
  width: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  transition: border 250ms var(--timing-function);

  &::placeholder {
    color: #c4c4c4;
  }

  &:focus,
  &:not(:placeholder-shown):valid {
    border: 1px solid var(--dark-green);
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid var(--eror-color);
  }
}

.form-modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--dark-green);

  .form-modal:not(:focus-within):invalid & {
    border: 2px solid var(--eror-color);
  }
  .form-modal:not(:focus-within) & {
    border: 2px solid var(--dark-green);
  }
  .form-modal:valid & {
    background-color: var(--accent-green);
  }
}

.form-modal__error {
  position: absolute;
  bottom: -14px;
  left: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: var(--eror-color);
  display: none;
  padding-left: 16px;

  @include media-min($tablet) {
    bottom: -16px;
    left: 12px;
    font-size: 13px;
  }

  &::before {
    content: '';
    position: absolute;
    // top: 4px;
    top: 0;
    left: 0;
    background-image: url('../images/error-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
  }

  .form-modal__input:not(:focus):not(:placeholder-shown):invalid + & {
    display: block;
  }
}
