.navigation__list {
  @include tablet {
    display: flex;
    gap: 28px;
  }
}
.navigation__item {
  @include media-max(767px) {
    height: 51px;
    width: 100%;
    padding: 16px 0 16px 16px;

    &:hover,
    &:focus {
      background-color: var(--green);
    }
  }
}
.navigation__link {
  line-height: 1.19;
  color: #000000;
  @include tablet {
    font-size: 14px;
    line-height: 1.14;
    &:hover,
    &:focus {
      color: var(--accent-green);
      text-decoration: underline;
    }
  }
}
