.customers {
  display: flex;
  padding: 60px 0;
  max-height: 769px;
  max-width: 1920px;
  background-image: url('../images/customers/customer-bg-mob.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  @include retina {
    background-image: url('../images/customers/customer-bg-mob-2x.png');
  }

  @include media-min($mobile) {
    height: 700px;
    background-image: url('../images/customers/customer-bg-mob-480.png');
    @include retina {
      background-image: url('../images/customers/customer-bg-mob-480-2x.png');
    }
  }

  @include media-min($tablet) {
    height: 544px;
    background-image: url('../images/customers/customers-bg-tab.png');

    @include retina {
      background-image: url('../images/customers/customers-bg-tab-2x.png');
    }
  }

  @include media-min($desktop) {
    height: 647px;
    background-image: url('../images/customers/customer-bg-desk.png');

    @include retina {
      background-image: url('../images/customers/customer-bg-desk-2x.png');
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 32px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media-min($tablet) {
    flex-direction: row;
    gap: 32px;
  }

  @include media-min($desktop) {
    gap: 139px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 501px;

    background-color: #ffffff;
    padding: 8px;
    border-radius: 0 30px 30px 30px;
    // min-height: 228px;

    @include media-min($tablet) {
      padding: 12px;
    }

    @include media-min($desktop) {
      padding: 14px;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 40px;

    @include media-min($tablet) {
      font-size: 18px;
      line-height: 1.17;
    }
  }

  &__person-box {
    display: flex;
  }

  &__cover {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    margin-right: 3px;
  }

  &__person-info {
    display: flex;
    flex-direction: column;
    padding: 4px 13px;
    gap: 2px;

    border-right: 0.854167px solid #7eb101;
    font-size: 14px;
    line-height: 1.5;
  }

  &__name {
    font-weight: 700;
  }
}

.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 28px;

  &__item {
    width: 17px;
    height: 16px;
  }

  &__icon {
    width: 17px;
    height: 16px;
    fill: var(--yellow);
    transition: transform 250ms var(--timing-function);

    &:hover {
      transform: scale(1.4);
    }
  }
}
