.hero {
  padding-top: 60px;
  padding-bottom: 50px;

  @include tablet {
    padding-bottom: 0;
  }
  @include desktop {
    position: relative;
    padding-top: 159px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  color: rgba(44, 44, 44, 1);

  @include tablet {
    margin-bottom: 44px;
    font-size: 42px;
    line-height: 120%;
    max-width: 537px;
  }
  @include desktop {
    font-size: 48px;
    margin-bottom: 28px;
    max-width: 502.42px;
  }
}
.hero__text {
  max-width: 336px;

  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: rgba(44, 44, 44, 1);

  @include tablet {
    margin-bottom: 40px;
    font-size: 16px;
  }

  @include desktop {
    max-width: 502px;
  }
}

.hero__desktop {
  @include tablet {
    position: relative;
  }
}

.swiper-button-prev {
  display: none;
  @include tablet {
    position: absolute;
  }
  @include desktop {
    left: 693px;
    right: auto;
    top: 128px;
  }
}

.swiper-button-next {
  @include tablet {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 122px;
    z-index: 10;
    cursor: pointer;

    width: 40px;
    height: 48px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  }

  @include desktop {
  }
}

.next-ikon {
}

.swiper-button-next:after {
  content: '';
}

.swiper {
  display: none;
  @include tablet {
    position: absolute;
    top: 89px;
    right: 40px;
    display: block;
    width: 292px;
    max-width: none;
    border-radius: 50%;
    border: 14px solid var(--yellow);
  }

  @include desktop {
    width: 528px;
    border: 26px solid var(--yellow);
    top: -145px;
    right: 30px;
  }
}

.hero__button {
  padding: 6px 18px;

  cursor: pointer;
  width: 98px;
  height: 32px;
  background: --green;
  border-radius: 30px;
  border: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  color: --praimery-text-color;

  &__button:hover,
  &__button:focus {
    background: --accent-green;
  }
}
