.offerings {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 60px;
 
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  &__image {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #FFE550;
    border: 3px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    &--inside {
      width: 255px;
      height: 255px;
      border-radius: 50%;
      background-color: #FFFFFF;
      position: relative;
    }
    &--item {
      position: absolute;
      top: -41;
      left: 30;
      z-index: 1;
    }
    &--shadow {
      position: absolute;
      bottom: 0;
      left: 35;
    }
  }

  &__title {
    margin-bottom: 28px;
    padding-top: 60px;
  }
  &__description {
    margin-bottom: 28px;
  }
  &__list {
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__icon {
    width: 32px;
    height: 32px;
    // width: 48px;
    // height: 48px;
    // padding: 8px;
    // background-color: black;
    // border-radius: 50%;
    // justify-content: center;
    // align-items: center;
  }
  &__title--small {
    margin-bottom: 16px;
  }
  &__button {
    width: 106px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid var(--dark-green);
    background-color: #ffffff;
  }
  &__link {
    margin-left: 24px;
  }
}
.background {
  background-image: url('../images/offerings/offerings-bcg-320-mobile.png');
  background-image: cover;
  background-repeat: no-repeat;
  position: relative;
}

.wrapper--circle {
  background-color: var(--secondary-bg-color);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}