.offerings {
  &__title {
    margin-bottom: 28px;
  }
  &__description {
    margin-bottom: 28px;
  }
  &__list {
    margin-bottom: 28px;
  }
  &__item {
    margin-bottom: 28px;
  }
  &__icon {
    margin-bottom: 8px;
  }
  &__title--small {
    margin-bottom: 16px;
  }
  &__button {
    margin-right: 24px;
  }
}
